<div class="heading">
	<h1>17-18 Leaderboard</h1>
</div>
<div class="row">	
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>GP</th>
					<th>P/G</th>
				</tr>
			</thead>
			<tbody>
				<% @points_leaders.each do |p| %>
					<tr>
						<td><%= link_to p.full_name, player_path(p.player_profile) %></td>
						<td><%= p.games_played %></td>
						<td><%= p.points_pg %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>GP</th>
					<th>PrP/G</th>
				</tr>
			</thead>
			<tbody>
				<% @primary_leaders.each do |p| %>
					<tr>
						<td><%= link_to p.full_name, player_path(p.player_profile) %></td>
						<td><%= p.games_played %></td>
						<td><%= p.pr_points_pg %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>GP</th>
					<th>SV%</th>
				</tr>
			</thead>
			<tbody>
				<% @save_percent_leaders.each do |p| %>
					<tr>
						<td><%= link_to p.full_name, player_path(p.player_profile) %></td>
						<td><%= p.games_played %></td>
						<td><%= p.save_percentage %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>GP</th>
					<th>SA/G</th>
				</tr>
			</thead>
			<tbody>
				<% @shots_against_leaders.each do |p| %>
					<tr>
						<td><%= link_to p.full_name, player_path(p.player_profile) %></td>
						<td><%= p.games_played %></td>
						<td><%= p.shots_against_pg %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
</div>