<table class="table table-bordered">
  <thead>
    <tr>
      <th class="rank-th">#</th>
      <th class="name-th"><%= sort_link path, "last_name", "Name" %></th>
      <th><%= sort_link path, "season", "Year" %></th>
      <th><%= sort_link path, "season_age", "Age" %></th>
      <th><%= sort_link path, "team_id", "Team" %></th>
      <th><%= sort_link path, "games_played", "GP" %></th>
      <th><%= sort_link path, "gf_pk", "SHGF" %></th>
      <th><%= sort_link path, "ga_pk", "SHGA" %></th>
      <th><%= sort_link path, "gf_p_pk", "SHGF%" %></th>
      <th><%= sort_link path, "gf_pk_pg", "SHGF/G" %></th>
      <th><%= sort_link path, "ga_pk_pg", "SHGA/G" %></th>
      <th><%= sort_link path, "gf_4v5", "4v5GF" %></th>
      <th><%= sort_link path, "ga_4v5", "4v5GA" %></th>
      <th><%= sort_link path, "gf_p_4v5", "4v5GF%" %></th>
      <th><%= sort_link path, "gf_3v5", "3v4GF" %></th>
      <th><%= sort_link path, "ga_3v5", "3v4GA" %></th>
      <th><%= sort_link path, "gf_p_3v5", "3v4GF%" %></th>
      <th><%= sort_link path, "gf_3v4", "3v4GF" %></th>
      <th><%= sort_link path, "ga_3v4", "3v4GA" %></th>
      <th><%= sort_link path, "gf_p_3v4", "3v4GF%" %></th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 + ((@page - 1) * 50) %>
    <% players.each do |player| %>
      <tr>
        <td class="rank-tb"><%= i %></td>
        <td class="name-tb"><%= player.is_rookie_star %><%= link_to player.full_name, player_path(player.player_profile) %></td>
        <td><%= season == false ? player.season_abbreviation : season %></td>
        <td><%= player.season_age %></td>
        <td><%= player.team_abbreviation %></td>
        <td><%= player.games_played %></td>
        <td><%= player.gf_pk %></td>
        <td><%= player.ga_pk %></td>
        <td><%= player.gf_p_pk.nil? ? "NaN%" : "#{player.gf_p_pk}%" %></td>
        <td><%= player.gf_pk_pg %></td>
        <td><%= player.ga_pk_pg %></td>
        <td><%= player.gf_4v5 %></td>
        <td><%= player.ga_4v5 %></td>
        <td><%= player.gf_p_4v5.nil? ? "NaN%" : "#{player.gf_p_4v5}%" %></td>
        <td><%= player.gf_3v5 %></td>
        <td><%= player.ga_3v5 %></td>
        <td><%= player.gf_p_3v5.nil? ? "NaN%" : "#{player.gf_p_3v5}%" %></td>
        <td><%= player.gf_3v4 %></td>
        <td><%= player.ga_3v4 %></td>
        <td><%= player.gf_p_3v4.nil? ? "NaN%" : "#{player.gf_p_3v4}%" %></td>
      </tr>
      <% i += 1 %>
    <% end -%>
  </tbody>
</table>
